#slider {
  direction: ltr;
  //background-color: #000;
  position: relative;
  overflow: hidden;

  .position-relative {
    position: relative !important;
    //overflow: hidden;
    margin-bottom: 70px;
  }

  .shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(35, 26, 3, 0.78)
  }
  .right-shadow {
    right: -100%;
    /*margin-right: 15px;*/
  }
  .left-shadow {
    left: -100%;
    /*margin-left: 15px;*/
  }

  .flex-viewport {
    overflow: visible !important;
    .slides {
      li {
        //padding-bottom: 80px;
        position: relative;

        &:after {
          content: '';
          display: block;
          clear: both;
        }
        .flex-caption {
          position: absolute;
          height: 70px;
          bottom: -70px;
          width: 100%;
          background: url("../../../images/slider/flesh.png") #bbb no-repeat 8px;
          background-size: contain;
          color: #fff;
          text-align: right;
          direction: rtl;
          padding: 10px;
          line-height: 20px;
          .headline {}
          .title {
            color: #000;
            font-size: 20px;
            line-height: 30px;
            font-weight: bold;
          }
        }
      }
    }
  }
  img {
    width: 100%;
    height: auto;
    border: 1px solid #999;
  }

  .flex-direction-nav a {
    width: auto;
    height: auto;
    margin: 0;
    top: 0;
    bottom: 0;
  }

  .flex-direction-nav .flex-prev {
    left: -100%;
    right: 75%;
    cursor: url("../../../images/slider/arrow-left.png"), pointer;
  }
  .flex-direction-nav .flex-next {
    right: -100%;
    left: 70%;
    cursor: url("../../../images/slider/arrow-right.png"), pointer;
  }

  .captions {
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    right: 0;
    width: 100%;
    text-align: right;
  }

  .captions > div {
    display: inline-block;
    padding: .5em 1em;
    background: rgba(35, 26, 3, 0.78);
    float: right;
    text-align: right;
    clear: both;
    margin-bottom: 8px;
  }

  .captions .title-wrapper {
    direction: rtl;
  }

  .captions .title-wrapper.textFit {
    padding: .5em 40px .5em 13px;
  }

  .captions .title {
    /*width: 670px;*/
    font-size: 20px;
    color: #f1f1f1;
    font-weight: bold;
    height: 33px;
    white-space: nowrap;
  }

  .captions .description {
    font-size: 16px;
    color: #75af2b;
  }

  @media (max-width: 480px) {
    .captions {
      top: 70%;
    }
    .captions .title {
      font-size: 20px;
    }
    .captions .description {
      font-size: 14px;
    }
  }

  .flex-control-nav {
    text-align: left;
    left: 12px;
    bottom: 6px;
  }
  .flex-control-nav li {
    margin: 0 4px;
  }

  .flex-control-paging li a {
    background: #4d4d4d;
  }

  .flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
  }
}