.last-video-block {
  background-color: #6d6d6d;
  height: 100%;
  .title {
    color: #e2e2e2;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    padding: 0 10px;
  }
  .player {
    height: calc(100% - 50px);
    background-color: #000;
    .video-wrapper,
    .r5-wraper,
    video {
      height: 100%;
    }
  }
}