.last-audios-block {
  background-color: #6d6d6d;
  padding: 1px 1px 25px;
  .title {
    color: #e2e2e2;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    padding: 0 10px;
  }
  .audios {
    .audio-wrapper {
      margin-bottom: 8px;
    }
  }
}