@import "../mixin";

.links-block {
  font-family: Vazir;
  .links-wrapper {
    margin-bottom: 15px;
    >.title {
      margin-bottom: 5px;
      color: #636363;
      line-height: 22px;
      text-align: center;
      font-weight: bold;
      i {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 10px;
        vertical-align: middle;
        border-radius: 30%;
      }
    }
    .links {
      .link-item a {
        @include clearfix;
        display: block;
        height: 31px;
        margin-bottom: 3px;
        padding: 0 10px;
        line-height: 31px;
        background-color: #e6e6e6;
        color: #737373;
        font-size: 14px;
        vertical-align: middle;
        .title {
          float: right;
        }
        .link {
          float: left;
          line-height: 34px;
          //font-size: 18px;
        }
      }
    }
  }
}