.list-mode-block {
  .block-title {
    font-size: 18px;
    padding: 10px 0;
    font-weight: bold;
    color: #666;
  }
  .items {
      .item {
        padding: 7px 8px;
        margin-bottom: 8px;
        background-color: #f7f7f7;
        font-size: 14px;
        line-height: 20px;
        .type {
          color: #1c8c6e;
          span {
            margin: 0 3px;
            font-size: 20px;
            vertical-align: -2px;
          }
        }
        .title {
          color: #000;
        }
      }
  }
}


