.place-block {
  .title {
    text-align: center;
  }
  .places {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    .place {
      width: calc(100% * (1/3) - 6px);
      margin: 0 0 10px;
      padding: calc((100% * (1/3) - 6px)/2) 0;
      position: relative;
      background: #e6e6e6;
      img {
        background: #d5d5d5;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}