.teaser-mode-block {
  .block-title {
    font-size: 18px;
    padding: 10px 16px;
    background: #e6e6e6;
    font-weight: bold;
    color: #666;
    margin-bottom: 5px;
  }
  .items {
    margin: 0 -8px;
    .item-wrapper {
      padding: 0 8px;
      .item {
        .title {
          color: #002161;
          font-size: 14px;
        }
        .image-wrapper {
          position: relative;
          overflow: hidden;
          //border: 1px solid #aaa;
          img {
          }
          .caption {
            position: absolute;
            background: rgba(0, 0, 0, .5);
            color: #fff;
            right: 0;
            width: 100%;
            min-height: 60px;
            line-height: 20px;
            padding: 10px;
            font-size: 15px;
            display: table;
            text-align: center;
            transition: 400ms;
            span {
              vertical-align: middle;
              display: table-cell;
            }
          }
          &:hover .caption {
            transform: translateY(-100%);
          }
        }
      }
    }
  }
}