@import "../color";
@import "../mixin";

.user-block {
  padding-top: 2px;
  background: #e6e6e6;
  background-clip: content-box;
  border-top: 5px solid $main-color;
  * {
    color: #595959;
  }
  .inner {
    padding: 20px 10px;
  }
}

.user-block .not-logged-in {
  .login-form {
    //min-width: 20em;
    text-align: right;
    >span {
      color: #f04134;
    }
    .ant-row.ant-form-item {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      .ant-input-affix-wrapper .ant-input-prefix {
        line-height: 1;
        border-right-color: #989898;
        .anticon {
          font-size: 18px;
          line-height: 32px;
        }
      }
      &:last-child {
        text-align: left;
      }

      .ant-form-explain,
      .ant-form-extra {
        line-height: 2.5;
      }
      input {
        border: 1px solid #989898;
        background: #fff;
        font-size: 16px;
      }
      button {
        width: 40%;
        background: #888;
        span {
          color: #fff;
        }
      }
      .links {
        float: right;
        text-align: right;
        line-height: 20px;
        a {
          display: block;
        }
      }
    }
  }
}

.user-block .logged-in {
  .text {
    padding-bottom: 20px;
    b {
      margin-bottom: 5px;
    }
  }
  .menu {
    padding-top: 4px;
    margin: 0 -10px -24px;
    background: #fff;
    @include flex(4px);

    .link {
      display: block;
      width: 100%;
      font-size: 16px;
      line-height: 30px;
      background: #cacaca;
      text-align: center;
      margin-bottom: 4px;
      cursor: pointer;
    }
  }
}
