.admin-page {
  &.page-sections-wrapper {
    .page-section {
      &.sidebar {
        //border: 1px solid #ddd;
      }
      &.main {
        flex: 3.2;
      }
    }
  }
  .header {
    border-bottom: 1px solid #aaa;
    line-height: 40px;
    margin-bottom: 15px;
    .title {
      font-size: 16px;
      font-weight: bold;
      color: #5a5a5a;
    }
    .add-button {
      float: left;
      transition: .3s;
      line-height: 30px;
      border-radius: 4px;
      i {

        vertical-align: -2px;
        margin: 0 0 0 5px;
      }
      a {
        color: inherit;
        transition: none;
      }
    }
  }
  .save-changes {
      line-height: 30px;
      margin-bottom: 15px;
      //border-radius: 4px;
      //font-size: 15px;
      //background-color: #feb900;
      //color: #fff;
      //border-color: #feb900;
    .temp-button {
      color: #5985ba;
      margin: 0 10px;
      font-size: 16px;
      cursor: pointer;
    }
    .notif {
      //margin-right: 10px;
      //color: #888;
    }
  }

  .actions-button {
    float: left;
    margin-top: -40px;
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
  }
}