@import "../mixin";
@import "../color";
@import "./AntForm";
@import "./AntMenu";
@import "./AntGrid";

.ant-popover {
  .ant-popover-content {
    .ant-popover-inner {
      border-radius: 0;
      .ant-popover-inner-content {
        .ant-popover-message {
          i {
            display: none;
          }
        }
        .ant-popover-buttons {
          button {

          }
        }
      }
    }
  }
}
.ant-btn {
  @include button;
  &.ant-btn-primary,
  &.ant-btn-primary:hover,
  &.ant-btn-primary:focus,
  &.ant-btn-primary:active,
  &.ant-btn-primary.active,
  &.ant-btn.ant-btn[type=submit] {
    background-color: $main-color;
    border-color: $main-color;
    background: lighten($main-color, 5%);
  }
}

.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
  margin-right: 0;
  margin-left: 8px;
}

.ant-dropdown-menu {
  text-align: right;
}

.ant-alert {
  .anticon {
    left: auto;
    right: 24px;
    font-size: 20px;
  }
  .ant-alert-message {
    display: none;
  }
  .ant-alert-description {
    margin-right: 45px
  }
}