@import "../color";

.ant-form {
  .ant-row.ant-form-item {
    .ant-form-item-label {
      text-align: left;
      label {
        &.ant-form-item-required:before {
          margin: 0 0 0 4px;
        }
        &:after {
          margin: 0 2px 0 8px;
        }
      }
    }
    .ant-form-item-control-wrapper {
      .ant-input {
        border-radius: 0;
        text-align: right;
      }
    }
    &.phone-number {
      .ant-input {
        padding-left: 85px;
      }
      .ant-input-prefix {
        direction: ltr;
      }
      .ant-form-explain {
        text-align: right;
      }
    }
    &.has-prefix {

    }
    &.left-align {
      text-align: left;
      .ant-form-item-control-wrapper .ant-input {
        text-align: left;
      }
    }

    .ant-input-affix-wrapper .ant-input-prefix {

      top: 1px;
      line-height: 32px;
      transform: none;
      left: 1px;
      padding: 0 1em;
      background: #ededed;
      border-right: #d9d9d9 1px solid;
    }

    textarea,
    input:not([type=checkbox]):not([type=radio]) {
      margin-bottom: 0;
    }
  }

  .ant-btn {
    border-radius: 0;
    &.ant-btn[type=submit] {
      .anticon {
        float: right;
        margin-top: 10px;
      }
      &:active,
      &:focus,
      &:hover {
        //background-color: $yellow;
      }
    }
    >.anticon+span,
    >span+.anticon {
      margin-left: 0;
      margin-right: .5em;
    }
  }

  .has-error.has-feedback:after,
  .has-success.has-feedback:after,
  .has-warning.has-feedback:after,
  .is-validating.has-feedback:after {
    right: auto;
    left: 0;
    line-height: 34px;
  }

  .ant-btn-primary.disabled,
  .ant-btn-primary.disabled.active,
  .ant-btn-primary.disabled:active,
  .ant-btn-primary.disabled:focus,
  .ant-btn-primary.disabled:hover,
  .ant-btn-primary[disabled],
  .ant-btn-primary[disabled].active,
  .ant-btn-primary[disabled]:active,
  .ant-btn-primary[disabled]:focus,
  .ant-btn-primary[disabled]:hover {
    background-color: $main-color;
  }

  .ant-input-number {
    height: auto;
    margin-right: 0;
    margin-left: 8px;
    min-width: 14em;
    &.ant-input-number-lg {
      height: auto;
      border-radius: 0;
      border: none;
      .ant-input-number-handler-wrap {
        height: auto;
        top: 1px;
        bottom: 1px;
        right: 1px;
      }
      .ant-input-number-input {
        outline: none;
        box-shadow: none;
        border-radius: 0;
      }
    }
  }

  .ant-checkbox-group {
    .ant-checkbox-wrapper {
      font-weight: 400;
      color: #333;
      margin-top: 5px;
      &:not(:last-child) {
        margin-right: 0;
        margin-left: 8px;
      }
    }
  }

  .ant-radio-group {
    .ant-radio-button-wrapper {
      min-width: 7em;
      border-radius: 0;
      text-align: center;
      font-weight: 400;
      color: #333;
      &:not(:last-child):not(.ant-radio-button-wrapper-checked) {
        border-left-color: transparent;
      }
      .ant-radio-button {
      }
      span {
      }
    }
  }

  .ant-time-picker {
    min-width: 14em;
    .ant-time-picker-input {
      border-radius: 0;
    }
    .ant-time-picker-icon {
      right: auto;
      left: 8px;
    }
  }

  .ant-select {
    min-width: 14em;
    .ant-select-selection {
      border-color: #d9d9d9;
      border-radius: 0;
      .ant-select-selection__rendered {
        .ant-select-selection-selected-value {

        }
      }
    }
  }

  .ant-upload {
    button {
      min-width: 14em;
      height: 32px;
    }
  }
  .ant-upload-list {
    .ant-upload-list-item-info {
      padding: 0 4px 0 12px;
      .anticon-paper-clip {
        margin-left: 4px;
        margin-right: 0;
      }
      .ant-upload-list-item-name {
        padding-left: 0;
        padding-right: 16px;
      }

    }

    &.ant-upload-list-picture {
      .ant-upload-list-item-info {
        .ant-upload-list-item-thumbnail {
          left: auto;
          right: 8px;
        }
        .ant-upload-list-item-name {
          margin: 0 8px 0 0;
          padding: 0 48px 0 8px;
        }
      }
    }

    &.ant-upload-list-file {
      .ant-upload-list-item-info {
      }
    }

    .anticon-cross {
      right: auto;
      left: 4px;
    }
  }

  fieldset {
    border: 1px solid #d9d9d9;
    margin-bottom: 1em;
    legend {
      font-size: 15px;
      color: $main-color;
      border: none;
      display: initial;
      width: auto;
      background: #fff;
      padding: 0 .5em;
      margin: 0;
      margin-right: 1em;
    }
    >*:not(legend) {
      padding: 6px 26px;
    }
    .ant-row {
      margin: 0;
    }
  }

  .mini-input {
    .ant-input-number,
    .ant-time-picker ,
    .ant-select {
      min-width: 100%;
      max-width:0;
    }
    .ant-form-item-label label {
      font-weight: 400;
      color: #333;
      margin: 0;
    }
    .ant-row {
      margin: 0 0 5px;
    }
    &.shared-label {
      .ant-row:last-child {
        padding-right: 10px;
      }
    }
  }


}

.ant-popover {
  .ant-popover-title {
    text-align: right;
    font-size: 15px;
    color: #444;
  }
  .ant-popover-inner-content {
    padding: 16px;
  }
}

.ant-select-dropdown {
  border-radius: 0;
  .ant-select-dropdown-menu-item {
    &.ant-select-dropdown-menu-item-active {
    }
  }
}

.ant-time-picker-panel {
  .ant-time-picker-panel-inner {
    border-radius: 0;
    .ant-time-picker-panel-input-wrap {
      .ant-time-picker-panel-input {
        margin: 0;
      }
      .ant-time-picker-panel-clear-btn {
        right: auto;
        left: 8px;
        top: 14px;
      }
    }
    .ant-time-picker-panel-combobox {
      direction: ltr;
      .ant-time-picker-panel-select {
        width: 63px;

        &::-webkit-scrollbar-track
        {
          -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.1);
          background-color: #F5F5F5;
        }

        &::-webkit-scrollbar
        {
          width: 3px;
          background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
          background-color: #aaa;
          border: 2px solid #d5d5d5;
        }
      }
    }
  }
}


//
//.has-background-form {
//  .form-item-wrapper {
//    width: 60%;
//  }
//  .form-background {
//    position: absolute;
//    bottom: 10%;
//    left: 4%;
//    top: 10%;
//    line-height: 80%;
//    vertical-align: middle;
//    font-size: 20vw;
//    color: #d5d5d5;
//    align-items: center;
//    display: flex;
//  }
//}