$ant-menu-color: #ffba02;

.ant-menu {
  background: none;
  border: none;
  color: inherit;
  line-height: 30px;
  &.ant-menu-horizontal{
    .ant-menu-item,
    .ant-menu-submenu-title { }
    .ant-menu-item {
      padding: 0;
      a {
        font-size: 14px;
        display: block;
        color: #f1f1f1;
        padding: 0 20px;
      }
    }
    .ant-menu-submenu {
      .ant-menu-submenu-title {
        i {
          padding: 5px;
        }
      }
    }
    >.ant-menu-item-active,
    >.ant-menu-item-open,
    >.ant-menu-item-selected,
    >.ant-menu-item:hover,
    >.ant-menu-submenu-active,
    >.ant-menu-submenu-open,
    >.ant-menu-submenu-selected,
    >.ant-menu-submenu:hover {
      border-bottom: 2px solid $ant-menu-color;
      color: $ant-menu-color;
    }

    >.ant-menu-item,
    >.ant-menu-submenu {
      padding: 0;
      float: right;
      margin: 0;
      top:0;
    }

    .ant-menu-item-active,
    .ant-menu-item:hover a,
    .ant-menu-submenu-selected > a,
    .ant-menu-item-active > a,
    .ant-menu-submenu-active,
    .ant-menu-submenu-title:hover,
    .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
      color: $ant-menu-color;
    }
  }
}

.ant-menu-submenu.ant-menu-submenu-popup .ant-menu-sub {
  right: 0;
  left: auto;
  background-color: #333;
  border-radius: 0;
  .ant-menu-item-group {
    .ant-menu-item-group-title {
      padding: 0;
    }
    .ant-menu-item-group-list {
      .ant-menu-item {

        &.ant-menu-item-selected> a,
        &:hover {
          color: $ant-menu-color;
        }
        &.ant-menu-item-active {}
      }

      .ant-menu-item,
      .ant-menu-submenu-title { }
      .ant-menu-item {
        padding: 0;
        a {
          font-size: 14px;
          display: block;
          color: #f1f1f1;
          padding: 0 20px;
          &:hover {
            color: $ant-menu-color;
          }
        }
      }
    }
  }
}

.ant-menu-horizontal.ant-menu-sub,
.ant-menu-vertical-left.ant-menu-sub,
.ant-menu-vertical-right.ant-menu-sub,
.ant-menu-vertical.ant-menu-sub {
  min-width: auto;
}

.ant-menu-item:active,
.ant-menu-submenu-title:active,
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
}

