.ant-table table {
  direction: rtl;
  text-align: right;
  //table-layout: fixed;
  .ant-table-tbody>tr>td,
  .ant-table-thead>tr>th {
    text-align: right;
  }

  .ant-table-tbody>tr>td,
  .ant-table-thead>tr>th {
    word-break: keep-all;
    //text-align: justify;
    &:nth-of-type(3) {
      //width: 50%;
    }
    .time {
      white-space: nowrap;
    }
  }
  .actions {
    text-align: left;
    .action {
      margin-right: 15px;
      //font-size: 18px;
      color: #4e4e4e;
      font-size: 18px;
      cursor: pointer;
    }
  }
  .status-wrapper {
    cursor: pointer;
    .status {
      &.enable {
        color: #1e851d;
      }
      &.disable {
        color: #850100;
      }
    }
  }
}

.ant-pagination {
  .ant-pagination-jump-next,
  .ant-pagination-jump-prev,
  .ant-pagination-prev,
  .ant-pagination-item,
  .ant-pagination-total-text {
    margin-right: 0;
    margin-left: 8px;
  }
  .ant-pagination-next .ant-pagination-item-link:after {
    content: "\E620";
    display: block;
  }
  .ant-pagination-prev .ant-pagination-item-link:after {
    content: "\E61F";
    display: block;
  }
}

#components-table-demo-drag-sorting tr.drop-over-downward td {
  border-bottom: 2px dashed #1890ff;
}

#components-table-demo-drag-sorting tr.drop-over-upward td {
  border-top: 2px dashed #1890ff;
}