@import "mixin.scss";
$topbar-background: #333;

#admin-menu {
  position: fixed;
  padding: 0 1em;
  margin: 0;
  top: 0;
  right: 0;
  left: 0;
  height: 30px;
  background: $topbar-background;
  border: none;
  color: #f1f1f1;
  z-index: 9990;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  line-height: 30px;
  .menu {
    ul {
      li {
        list-style: none;
        padding: 0;
        //margin: 0 2px;
        a {
          //padding: 0 3px;
          font-size: 14px;
          display: block;
          color: #f1f1f1;
        }
        &.expanded {
          position: relative;
          .menu {
            display: none;
            width: 200px;
            position: absolute;
            background: $topbar-background;
            border-radius: 3px;
            box-shadow: 0 0 3px 0 #ffffff;
            top: 40px;
            right: -3px;
            &:before {
              content: '';
              border: 10px solid;
              border-color: transparent transparent $topbar-background;
              position: absolute;
              top: -20px;
              right: 15px;
            }
            li {
              a {
                padding: .5em;
                border-bottom: 1px solid #555;
              }
              &:last-child a {
                border: none;
              }
            }
          }
        }
      }
    }
    > ul {
      @include clearfix;
      margin: 0 -10px;
      > li {
        float: right;
        a {
          padding: 0px 10px;
        }
      }
    }
  }
}

.login {
  padding-top: 30px;
}