.board-content {
  //background: #4bc89e;
  font-size: 28px;
  text-align: center;
  height: 400px;
  margin: 20px 0 50px;
  a {
    display: block;
    height: 300px;
    color: #fff;
    line-height: 300px;
    &.posters {
      background-color: #a9796c;
    }
    &.packages {
      background-color: #a97488;
    }
  }
}