@import "mixin";
.Breadcrumb {
  padding: 10px 0;
  overflow: hidden;
  background: #1BACA0;
  @include gradient(to left, #1baca0 , rgba(#1baca0, .5), #1baca0);
  background-clip: content-box;
  a {
    display: inline-block;
    padding: 0 25px;
    font-size: 16px;
    line-height: 40px;
    position: relative;
    color: #fff;
    &:after {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      /* background: red; */
      border: 10px solid;
      border-color: transparent transparent #fff #fff;
      top: 0;
      bottom: 0;
      margin: auto;
      left: -8px;
      transform: rotate(55deg) skew(20deg);
      z-index: 1;
    }
  }
}