$light-gray  : #e8e8e8;
$yellow      : #ffba02;
$light-yellow : #ffd700;
$blue        : #1bb0cb;
$transparent-hover : rgba(#695905, .5);

$gray: #d0d0d0;
$dark-gray : #adadad;


//farhang
//$color1: #1baca0;
//$color2: #41bab0;

// Khanevade
$color1: #ee57ae;
$color2: #ee57ae;

$main-color: $color1;
$border: $color2;