@import "color";
@import "mixin";

#Comments .comment-form {
  form {
    padding: 20px;
    @include flex(8px);
    .field-wrapper {
      margin-bottom: 8px;
      input:not([type=checkbox]):not([type=radio]) {
        margin: 0;
      }
      &.name {
        height: 34px;
        line-height: 34px;
      }
      &.subject {
      }
    }
    .text, textarea {
      height: 100%;
    }
  }

  textarea {
    margin-bottom: 0;
  }
}