@import "color";

#Comments {
  background: #f7f7f7;
  border: solid $main-color;
  border-width: 1px 0;
  .header {
    background: #e6e6e6;
    padding: 10px 16px;
    color: #000;
    .count {
      float: left;
    }
  }
  .comments-wrapper {
    padding: 5px 0;
  }
}