@import "color";
@import "mixin";

.comment {
  color: #767676;
  padding: 15px 20px;
  &.indented {
    padding-right: 15%;
  }
  .comment-header {
    @include clearfix;
    margin-bottom: 5px;
    .name-wrapper {
      float: right;
      color: #000;
      font-size: 16px;
    }
    .date-wrapper {
      float: left;
      font-size: 13px;
      color: #999;
    }
  }
  .comment-body {
    padding: 8px 16px;
    border: 1px solid #b4b4b4;
    background: #fff;
    line-height: 1.8;
    text-align: justify;
  }
}