@import "color";

$header-height       : 45px;
$triangle-width      : floor(3*$header-height/4);
$padding             : $header-height/2 + 5px;
$half-header-height  : floor($header-height/2);

// content in teaser mode
.poster.posterTeaser {
  .section {
    margin-bottom: 40px;
    position: relative;
  }

  &.quad, &.full {
    .section {
      padding-top: $header-height/2;
      .header {
        width: 100%;
        height: $header-height;
        position: absolute;
        top: 0;
        color: #898989;

        padding: 0;
        .name-wrapper {
          height: $header-height;
          padding: 0 floor($header-height/4);
          position: relative;
          float: right;
          background: $yellow;
          color: #6d4b1f;
          line-height: $header-height;
          font-size: 16px;
          &:after {
            content: '';
            width: 0;
            height: 0;
            border-bottom: $header-height solid $yellow;
            border-left: $triangle-width solid transparent;
            position: absolute;
            left: -$triangle-width;
          }
        }

        .date-wrapper {
          height: $half-header-height;
          float: right;
          background-color: #dfdfdf;
          padding-right: $triangle-width + 5px;
          padding-left: 10px;
          line-height: $half-header-height;
        }

        .comment-count-wrapper {
          position: absolute;
          left: 10px;
          top: 0;
          line-height: $half-header-height;
        }

      }
      .body {
        background-color: $light-gray;
        border-bottom: 4px solid $yellow;
        padding-top: $padding;
        color: #444;

        .detail-wrapper {
          width: 60%;
          padding: 20px 15px $padding+30px;
          float: right;
          position: relative;

          .title-wrapper {
            font-size: 16px;
            margin-bottom: 7px;
          }

          .text-wrapper {
            margin-bottom: 7px;
            text-align: justify;
            line-height: 23px;
            height: 115px;
            overflow: hidden;
          }

        }

        .image-wrapper {
          width: 40%;
          padding: 0 10px $padding $padding;
          float: right;
        }

      }
    }
  }
  &.hex {
    .item {
      margin-bottom: 16px;
    //  overflow: hidden;
      .image-wrapper {
    //    overflow: hidden;
        img {
          border: 1px solid #ccc;
    //      transition: 1s;
    //      transform: rotate(-5deg) scale(1.37) translateZ(0px);
        }
      }
    //  &:hover {
    //    .image-wrapper {
    //      img {
    //        transform: none;
    //      }
    //    }
    //  }
    }
  }
}