@import "mixin";
@import "color";

footer.footer {
  position: relative;
  //padding-top: 150px;
  //margin-top: -100px;
  border-bottom: solid 5px lighten($main-color, 5%);
  .sections-wrapper {
    display: flex;
    .section1 {
      flex: 3.2;
      padding: 0 24px;
    }
    .section2 {
      flex: 1;
    }
  }
}

footer.footer .first-row {
  background-color: #d7d7d7;
  .section1 {
    @include clearfix;
    background-color: #e6e6e6;
    color: #8b8b8b;
    position: relative;
    min-height: 270px;
    .about-us,
    .contact-us {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      display: table;
    }
    .about-us {
      width: 25%;
      right: 15px;
      .more {
        margin-right: 7px;
        color: #b05f22;
      }
    }
    .contact-us {
      width: 43%;
      left: 15px;
      .contact-us-inner {
        display: flex;
        margin: 0 -8px;
        > * {
          padding: 0 8px;
        }
        .map {
          //flex: 1;
          img {
          }
        }
        .text {
          flex: 2;
          .detail {
            * {
              margin-right: 5px;
            }
            .en {
              direction: ltr;
            }
          }
        }
      }
    }
    .title {
      color: #333;
    }
  }
  .section2 {
    position: relative;
    img {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      max-width: 95%;
    }
  }
}


footer.footer .last-row {
  background-color: #b5b5b5;
  .section1 {
    background-color: #c4c4c4;
    .rainbow {
      position: absolute;
      top:0;
      right: 0;
      bottom: 0;
      img {
        height: 100%;
        max-width: initial;
      }
    }
    .copyright {
      //padding: 0 15px;
      text-align: left;
      line-height: 40px;
      color: #111;
    }
  }
  .section2 {
    text-align: left;
    direction: ltr;
    font-size: 20px;
    color: #000;
    img {
      margin: 5px 8px 5px 0;
      height: 30px;
    }
    span {
      vertical-align: -6px;
      font-size: 14px;
    }
  }
}

@media (max-height: 1400px) {
  .copyright {
    font-size: 12px;
  }
}