@import "color";

input[type=radio],
input[type=checkbox] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  margin-left: 5px;
  &:after {
    content: "";
    background: url("../images/checkbox.png") 0 0;
    display: inline-block;
    width: 16px;
    height: 15px;
    cursor: pointer;
    vertical-align: middle;
  }
}

input[type=checkbox]:checked:after {
  background-position-y: 30px;
}

input[type=radio]:checked:after {
  background-position-y: 15px;
}

label {
  display: block;
  margin-top: 10px;
}

textarea,
input:not([type=checkbox]):not([type=radio]) {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  //border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  &:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  }
}

button[type=submit] {
  font-size: 16px;
  width: 100%;
  height: 40px;
  line-height: 38px;
  border: none;
  background: $main-color;
  color: #ffffff;
  font-weight: bold;
}

textarea {
  height: auto;
  min-height: 70px;
}