@import "color";

$header-height       : 45px;
$triangle-width      : floor(3*$header-height/4);
$padding             : $header-height/2 + 5px;
$half-header-height  : floor($header-height/2);

$gap: 16px;
@mixin gap-maker($gap) {
  margin-bottom: $gap;
}

.poster.posterFull {
  .mainbar {
    >.header {
      @include gap-maker($gap);
      //padding: 10px;
      color: #9d9d9d;
      .sub-header {
        line-height: 18px;
        font-size: 13px;
        border-bottom: 1px solid $border;
        .name-wrapper {
          float: right;
          font-size: 21px;
          line-height: 40px;
          color: #4c4c4c;
        }
        .left-icons {
          .icon {
            position: relative;
            display: inline-block;
            float: left;
            margin: 5px;
            cursor: pointer;
            i {
              line-height: 28px;
              height: 28px;
            }
            span {
              font-size: 14px;
              font-weight: bold;
            }
            .favorite {
              //position: absolute;
              //right: 0;
              //left: 0;
              //padding: 10px;
              //display: block;
              //text-align: center;
            }
          }

          .comment-count-wrapper {
          }

          .favorite-wrapper {
            .heart {
            }
            .favorite {
            }
          }
        }
      }
      .date-wrapper {
        padding: 3px 0;
        text-align: left;
        font-size: 14px;
      }
    }

    .body {
      //padding: 5px 0 0;
      margin-bottom: 2em;
      .audio-wrapper {
        @include gap-maker($gap);
        direction: ltr;
        .audio-player {
          position: fixed;
          bottom: 0;
          z-index: 100;
          left: 0;
          right: 0;
          width: auto;
        }
      }

      .content-item {
        margin-bottom: .5em;
        &.files-wrapper .data {
          text-align: right;
          margin-top: 20px;
          a {
            padding-right: 40px;
            display: block;
            line-height: 2;
            i {
              padding: 5px;
            }
          }
        }
        .label {
          color: inherit;
          font-size: inherit;
        }
      }


      .video-wrapper {
        @include gap-maker($gap);
        direction: ltr;
        //padding: 10px 0;
        .r5-wraper {
          margin: auto;
          video {
            min-width: 360px;
          }
        }
      }

      .image-wrapper {
        @include gap-maker($gap);
        text-align: center;
        img {
          border: 1px solid #878787;
        }
        & + .audio-wrapper {
          margin-top: -16px;
        }
      }

      .detail-wrapper {
        @include gap-maker($gap);
        //margin: 16px 0 ;
        color: #636363;
        line-height: 1.8;
        text-align: justify;
      }

      .download-btn {
        @include gap-maker($gap);
        background-color: $main-color;
        color: #fff;
        display: block;
        line-height: 50px;
        text-align: center;
        font-size: 17px;
        //margin: 15px 0;
      }
    }
  }
}
