@import "Container";
@import "bootstrap.min.css";

@font-face {
  font-family: BYekan;
  src: url('../fonts/BYekan.ttf');
}

@font-face {
  font-family: Vazir;
  font-weight: normal;
  src: url('../fonts/vazir/Vazir.eot') format("eot"),
  url('../fonts/vazir/Vazir.woff') format("woff"),
  url('../fonts/vazir/Vazir.woff2') format("woff2"),
  url('../fonts/vazir/Vazir.ttf') format("ttf");
}

@font-face {
  font-family: VazirBold;
  font-weight: bold;
  src: url('../fonts/vazir/Vazir-Bold.eot') format("eot"),
  url('../fonts/vazir/Vazir-Bold.woff') format("woff"),
  url('../fonts/vazir/Vazir-Bold.woff2') format("woff2"),
  url('../fonts/vazir/Vazir-Bold.ttf') format("ttf");
}

@font-face {
  font-family: Vazir;
  font-weight: 200;
  src: url('../fonts/vazir/Vazir-Light.eot') format("eot"),
  url('../fonts/vazir/Vazir-Light.woff') format("woff"),
  url('../fonts/vazir/Vazir-Light.woff2') format("woff2"),
  url('../fonts/vazir/Vazir-Light.ttf') format("ttf");
}

@font-face {
  font-family: Vazir;
  font-weight: 600;
  src: url('../fonts/vazir/Vazir-Medium.eot') format("eot"),
  url('../fonts/vazir/Vazir-Medium.woff') format("woff"),
  url('../fonts/vazir/Vazir-Medium.woff2') format("woff2"),
  url('../fonts/vazir/Vazir-Medium.ttf') format("ttf");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: auto;
  min-height: 100%;
  position: relative;
  direction: rtl;
  font-family: BYekan;
  //font-family: Vazir;
  font-weight: normal;
  line-height: 1.6em;
  margin: 0;
  color: #444;
  font-size: 14px;
  //font-smooth: antialiased;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
}

ul {
  padding:0;
  margin: 0;
}
li {
  list-style-type: none;
}

a, a:hover {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

.board {
  padding-bottom: 70px;
  padding-top: 20px;
}


.clearfix:after {
  content: "";
  display: block;
  clear: both;
}


.list-inline {
  margin: 0;
}





//body:after {
//  content: '';
//  display: block;
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  right: 422px;
//  background: red;
//  width: 1px;
//  z-index: 1;
//}
//body:before {
//  content: '';
//  display: block;
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 422px;
//  background: red;
//  width: 1px;
//  z-index: 1;
//}

.flex-wrapper {
  display: flex;
  margin: 0 -8px;
  .flex {
    padding: 0 8px;
    &.flex-1 {
      flex: 1;
    }
    &.flex-2 {
      flex: 2;
    }
    &.flex-3 {
      flex: 3;
    }
    &.flex-4 {
      flex: 4;
    }
    &.flex-5 {
      flex: 5;
    }
    &.flex-6 {
      flex: 6;
    }
    &.flex-7 {
      flex: 7;
    }
    &.flex-8 {
      flex: 8;
    }
    &.flex-9 {
      flex: 9;
    }
    &.flex-10 {
      flex: 10;
    }

  }
}

button {
  border-radius: 0;
  padding: 0 10px;
  line-height: 1.8;
  height: auto;
}

@import "form";
@import "Block";
