@import "mixin";
@import "color";

#header {
  background: $gray;
  border-top: 5px solid $border;
  height: 40px;

  .header-inner {
    display: flex;
    margin: 0 -8px;
    //padding: 0 8px;
    >* {
      height: 35px;
    }
    .wrapper {
      padding: 0 8px;
      position: relative;
    }
    .logo-wrapper {
      display: block;
      flex: 1;
      .wrapper {
        z-index: 1;
      }
      #logo {
        display: block;
        margin: -5px -20px 0 -20px;
        img {
        }
      }
    }

    .menu-wrapper {
      flex: 2.2;
      font-family: Vazir;
      .main-menu-wrapper {
        padding-right: 20px;
        .item {
          float: right;
          margin-left: 15px;
          a {
            line-height: 35px;
            font-size: 15px;
            font-weight: bold;
            color: #666;
          }
        }
      }
      .telegram {
        @include outer-border-top(5px, #409fdb);
        background: $dark-gray;
        float: left;
        font-size: 16px;
        padding: 0 10px;
        line-height: 35px;
        margin-left: -16px;
        z-index: 1;
        img {
          height: 22px;
          margin-right: 7px;
        }
        a {
          color: #fff;
        }
      }
    }

    .search-box-wrapper {
      flex: 1;
      .wrapper {
        .search-box {
          @include outer-border-top(5px, #ffba00);
          background-color: #e6e6e6;
        }
      }
    }
  }
}