
#ImageCarousel {

  .header {
    background-color: #19b0cf;
    .title {
      display: block;
      background-color: #19b0cf;
      border-right: 10px solid #1c87b4;
      margin: 0;
      padding: .5em 1em .6em;
      font-size: 18px;
    }
  }

  .body {
    direction: ltr;
  }
}