@mixin gradient($direction, $gradients...) {
    //background-color: nth($gradients, 1);
    background: linear-gradient($direction, $gradients);
}

@mixin clearfix {
    &:after {
        content: '';
        clear: both;
        display: block;
    }
}

@mixin outer-border-top($height, $color){
    position: relative;
    &:after {
        content: '';
        display: block;
        height: $height;
        top: -$height;
        position: absolute;
        right: 0;
        left: 0;
        background: $color;
    }
}

@mixin flex($gap) {
    $gap : $gap/2;
    .flex-wrapper {
        margin: 0 #{-$gap};
        .flex {
            padding: 0 $gap;
        }
    }
}

@mixin button {
    border-radius: 0;
    padding: 0 10px;
    line-height: 1.8;
    height: auto;
}