$header-height       : 45px;

.package.package-full {
  > .header {
    height: $header-height;
    margin: 0 0 30px;
    padding: 0 10px;
    background: #ffba02;
    color: #222;
    font-size: 15px;
    line-height: $header-height;
    position: relative;
    .download-link {
      background-color: #6ed50a;
      position: absolute;
      left: 0;
      top: 0;
      padding: 0 15px;
      cursor: pointer;
      i {
        margin: 7px 0 0 7px;
        font-size: 18px;
      }
        display: block;
        color: #555;
        font-size: 13px;
    }
  }
}