.package.package-teaser {
  float: right;
  margin-bottom: 20px;
  .box {
    display: block;
    background: #eeeef0;
    border-radius: 10px;
    overflow: hidden;
  }
  .info-box {
    text-align: center;
    margin-bottom: 15px;
    font-size: 15px;
    .name {
      line-height: 40px;
      font-size: 17px;
      a {
        color: #fff;
      }
    }
    .info {
      padding: 5px 0;
      line-height:23px;
      white-space: nowrap;
      color: #333;
    }
    .image {
      background: #929292;
      img {
        border: 1px solid #929292;
        margin: auto;
        //box-sizing: content-box;
      }
    }
    .link {
      background-color: #d2d2d2;
      line-height: 40px;
      margin-bottom: 15px;
      a {
        display: block;
      }
    }
  }
  .rate-link {
    font-size: 15px;
    margin-bottom: -15px;
  }
  .rate-info {
    .rate-count {
      color: #00cfe2;
    }
    .rate-value {
      position: absolute;
      left: 67px;
      top: 48px;
      font-size: 22px;
      color: #333333;
    }
  }
  .rate-wrapper {
    position: relative;
    .circle {
      width:65px;
      height:65px;
      border-radius: 100%;
    }
    .box-on-circle {
      border-radius: 7px;
      line-height: 28px;
      padding: 0 10px;
      position: absolute;
      height: 27px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &.right {
      .box-on-circle {
        right: 25px;
      }
    }
    &.left {
      //@include clearfix();
      .circle {
        float: left;
      }
      .box-on-circle {
        left: 25px;
        right:0;
      }

    }
  }

}

@media (max-width: 1200px) {
  .node.node-candidate.node-teaser {
    padding: 0 7px;
    .info-box {
      font-size: 14px;
      .name {
        font-size: 16px;
        line-height: 33px;
        white-space: nowrap;
      }
      .info {
        line-height: 20px;
      }
    }
    .rate-info {
      font-size: 12px;
      .rate-value {
        font-size: 20px;
      }
    }
    .rate-wrapper {
      &.left .box-on-circle {
        left: 15px;
      }
      &.right .box-on-circle {
        right: 15px;
      }
    }
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .package.package-teaser {
    width: 50%;
    float: right;
  }
}

@media (max-width: 360px) {
  .package.package-teaser {
    width: 100%;
    float: none;
  }
}

