$light-gray  : #e8e8e8;
$yellow      : #ffba02;

$header-height       : 45px;
$triangle-width      : floor(3*$header-height/4);
$half-header-height  : floor($header-height/2);
$padding             : $half-header-height + 5px;

.poster.posterTeaser {
  .section {
    padding-top: $header-height - $half-header-height;
    margin-bottom: 40px;
    position: relative;
    .header {
      width: 100%;
      height: $header-height;
      position: absolute;
      top: 0;
      color: #898989;

      .name-wrapper {
        height: $header-height;
        padding: 0 floor($header-height/4);
        position: relative;
        float: right;
        background: $yellow;
        color: #6d4b1f;
        line-height: $header-height;
        font-size: 16px;
        &:after {
          content: '';
          width: 0;
          height: 0;
          border-bottom: $header-height solid $yellow;
          border-left: $triangle-width solid transparent;
          position: absolute;
          left: -$triangle-width;
        }
      }

      .favorite-wrapper {
        height: $header-height - $half-header-height;
        .heart {
          max-height: $half-header-height;
          padding: 2px floor($triangle-width/2) 2px 5px;
        }
        .favorite {
        }
      }

      .date-wrapper {
        height: $half-header-height;
        float: right;
        background-color: #dfdfdf;
        padding-right: $triangle-width + 5px;
        padding-left: 10px;
        line-height: $half-header-height;
      }

      .comment-count-wrapper {
        position: absolute;
        left: 10px;
        top: 0;
        line-height: $half-header-height;
      }

    }

    .body {
      background-color: $light-gray;
      border-bottom: 4px solid $yellow;
      padding-top: $padding;
      color: #444;

      .detail-wrapper {
        width: 60%;
        padding: 20px 15px $padding+30px;
        float: right;
        position: relative;

        .title-wrapper {
          font-size: 16px;
          margin-bottom: 7px;
        }

        .text-wrapper {
          margin-bottom: 7px;
          text-align: justify;
          line-height: 23px;
          height: 115px;
          overflow: hidden;
        }

        .rate-wrapper {
          position: absolute;
          left: 0;
          font-size: 15px;
          left: 15px;
          .value {
            display: inline-block;
            height: 40px;
            padding-left: 10px;
            background: #fff;
            font-size: 20px;
            line-height: 40px;
            position: relative;
            margin-right: 15px;
            &:after {
              content: '';
              width: 0;
              height: 0;
              border-top: 40px solid #fff;
              border-right: 20px solid transparent;
              position: absolute;
              right: -20px;
            }
          }
        }

      }

      .image-wrapper {
        width: 40%;
        padding: 0 10px $padding $padding;
        float: right;
      }

    }

  }
}