$light-gray  : #e8e8e8;
$yellow      : #ffba02;

$header-height       : 45px;
$triangle-width      : floor(3*$header-height/4);
$padding             : $header-height/2 + 5px;
$half-header-height  : floor($header-height/2);

.poster.posterFull {
  .header {
    .name-wrapper {
      &:after {
      }
    }

    .favorite-wrapper {
      .heart {
      }
      .favorite {}
    }

    .date-wrapper {}

    .comment-count-wrapper {
    }

  }

  .body {
    .detail-wrapper {
      width: 100%;
      float: none;
      .title-wrapper {}

      .text-wrapper {}

      .rate-wrapper {
        .value {
          &:after {
          }
        }
      }

    }

    .image-wrapper {
      width: 100%;
      float: none;
      text-align: center;
    }

  }

}