$Background : #7e7e7e;
$Progress   : #a5a5a5;
$Icon       : #c5c5c5;
$text       : #fff;


@-webkit-keyframes zx-bounce-in {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }
  60% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes zx-bounce-in {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }
  60% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

.zx-show-up {
  -webkit-animation: zx-show-up .3s ease-out;
  animation: zx-show-up .3s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

@-webkit-keyframes zx-show-up {
  0% {
    -webkit-transform: translate3d(0, 60px, 0) scale(.95);
    transform: translate3d(0, 60px, 0) scale(.95);
    opacity: 0
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1
  }
}

@keyframes zx-show-up {
  0% {
    -webkit-transform: translate3d(0, 60px, 0) scale(.95);
    transform: translate3d(0, 60px, 0) scale(.95);
    opacity: 0
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1
  }
}

.zx-fade-in {
  -webkit-animation: zx-fade-in .3s ease-out;
  animation: zx-fade-in .3s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

@-webkit-keyframes zx-fade-in {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes zx-fade-in {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes zx-fade-out {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes zx-fade-out {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@-webkit-keyframes zx-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes zx-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-webkit-keyframes zx-breath {
  0% {
    -webkit-transform: scale(.5);
    transform: scale(.5)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes zx-breath {
  0% {
    -webkit-transform: scale(.5);
    transform: scale(.5)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

.r5-wraper {
  width: auto;
  min-width: 200px;
  position: relative;
  overflow: hidden;
  video {
    display: block;
  }
}

.r5-wraper *,
.r5-wraper:after,
.r5-wraper:before {
  box-sizing: border-box
}

.r5-wraper ul {
  list-style: none;
  padding: 0;
  margin: 0
}

.r5-wraper .r5-content {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none
}

.r5-wraper .r5-content * {
  pointer-events: auto
}

.r5-wraper .r5-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: 1;
}

.r5-wraper .r5-overlay svg {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  background: url("../images/icons/player/big-play.png") center center no-repeat;
  background-size: contain;
  path {
    display: none;
  }
}

.r5-wraper .r5-overlay:hover {
  opacity: .9
}

.r5-wraper button {
  background: 0 0;
  border: none;
  outline: 0;
  opacity: .8;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease
}

.r5-wraper button:hover {
  opacity: 1
}

.r5-wraper .r5-controls,
.r5-wraper .r5-seekbar-wraper {
  width: 100%
}

.r5-wraper .r5-controls-hidden {
  display: none
}

.r5-wraper .r5-controls {
  text-align: left
}

.r5-wraper .r5-controls .r5-panel {
  padding-left: 5px;
  padding-right: 5px
}

.r5-wraper .r5-pull-right {
  float: right
}

.r5-wraper .r5-timecode {
  font-size: 12px;
  margin-left: 10px;
  position: relative;
  top: -.5em;
  display: inline
}

.r5-wraper .r5-seekbar-wraper {
  height: 3px;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, .8);
  -webkit-transition: height .3s ease;
  transition: height .3s ease;
  box-shadow: 1px 0 5px $Background;
}

.r5-wraper .r5-seekbar-wraper input[type=range] {
  width: 100%;
  position: absolute;
  top: -5px;
  opacity: 0;
  cursor: pointer
}

.r5-wraper .r5-seekbar-wraper:hover {
  height: 5px
}

.r5-wraper .r5-seekbar {
  background-color: $Progress;
  -webkit-transition: width .1s;
  transition: width .1s
}

.r5-wraper .r5-seekbar-loaded {
  background-color: rgba(255, 255, 255, .5)
}

.r5-wraper .r5-seekbar,
.r5-wraper .r5-seekbar-loaded {
  position: absolute;
  top: 0;
  left: 0;
  height: 8px
}

.r5-wraper .r5-volume {
  width: 35px;
  display: inline-block;
  position: relative
}

.r5-wraper .r5-volume .r5-volume-inner {
  position: absolute;
  left: 31px;
  top: 12px;
  z-index: 2;
  background-color: rgba(255, 255, 255, .5);
  height: 6px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s .3s, opacity .3s ease;
  transition: visibility 0s .3s, opacity .3s ease
}

.r5-wraper .r5-volume .r5-volume-bar,
.r5-wraper .r5-volume input {
  position: absolute;
  top: 0;
  left: 0
}

.r5-wraper .r5-volume input {
  width: 100%;
  margin-top: -5px;
  opacity: 0
}

.r5-wraper .r5-volume .r5-volume-bar {
  width: 100%;
  height: 6px;
  background-color: $Progress
}

.r5-wraper .r5-volume:hover .r5-volume-inner {
  -webkit-transition: visibility 0s, opacity .3s ease;
  transition: visibility 0s, opacity .3s ease;
  opacity: 1;
  visibility: visible
}

.r5-wraper .r5-volume:hover+.r5-timecode {
  display: none
}

.r5-wraper .r5-subtitle {
  position: relative;
  display: inline-block
}

.r5-wraper .r5-subtitle:hover .r5-subtitle-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s, opacity .3s ease;
  transition: visibility 0s, opacity .3s ease
}

.r5-wraper .r5-subtitle-menu {
  position: absolute;
  padding-bottom: 20px;
  bottom: 20px;
  left: -5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s .3s, opacity .3s ease;
  transition: visibility 0s .3s, opacity .3s ease
}

.r5-wraper::cue {
  line-height: 1.4;
  opacity: .8;
  background: rgba(0, 0, 0, .3)
}

.r5-wraper .r5-controls.r5-controls--overlay {
  color: $Icon;
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .5)) repeat-x;
  background: linear-gradient(transparent, rgba(0, 0, 0, .5)) repeat-x
}

.r5-wraper .r5-controls.r5-controls--overlay button {
  color: $Icon
}

.r5-wraper .r5-controls.r5-controls--overlay button.active {
  color: $Progress
}

.r5-wraper .r5-controls.r5-controls--overlay.r5-auto-hide {
  opacity: 0;
  -webkit-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out
}

.r5-wraper .r5-controls.r5-controls--fixed {
  height: 45px;
  margin-top: -3px;
  background-color: $Background;
  color: $Icon;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.r5-wraper .r5-controls.r5-controls--fixed button {
  color: $Icon
}

.r5-wraper .r5-controls.r5-controls--fixed .r5-seekbar-wraper {
  height: 5px;
  position: relative;
  overflow: hidden
}

.r5-wraper .r5-controls.r5-controls--fixed .r5-seekbar-wraper:hover {
  height: 5px
}

.r5-wraper:hover .r5-controls--overlay.r5-auto-hide {
  opacity: 1;
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in
}