.search-box {
  position: relative;
  color: #898989;
  input:not([type=checkbox]):not([type=radio]).search-string {
    display: block;
    width: calc(100% - 35px);
    height: 35px;
    background: #e6e6e6;
    border: none;
    margin: 0;
    font-size: 15px;
    outline: none;
  }
  .search-button {
    width: 35px;
    height: 35px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #f2f2f2;
    border: none;
    box-shadow: none;
    outline: none;
    i {
      font-size: 28px;
      line-height: 35px;
      vertical-align: middle;
    }
  }
}