.main-container {
  //padding-bottom: 64px;
  position: relative;
  .main-wrapper {
    overflow-x: hidden;
    min-height: 500px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

.page-sections-wrapper {
  position: relative;
  display: flex;
  margin: 0 -8px;
  .page-section {
    flex: 1;
    &.sidebar {
      //@include
      &.sidebar-right {
        .wrapper {
          padding-top: 140px;
        }
      }
      &.sidebar-left {}
    }
    &.main {
      flex: 2.2;
      position: relative;
      z-index: 1;
    }
    .wrapper {
      padding: 0 8px;
    }
  }
}