@import "color";

// page structure in teaser show
.mainbar {
  .list-page-header {
    padding: 5px 10px;
    line-height: 20px;
    font-size: 13px;
    border-bottom: 1px solid $main-color;
    .sort-by {
      .sort-item {
        margin-right: 16px;
        position: relative;
        display: inline-block;
        &.active:after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border: 8px solid;
          border-color: $main-color transparent transparent;
          position: absolute;
          bottom: -17px;
          left: 0;
          right: 0;
          margin: 0 auto -5px;
        }
      }
    }
    .show-mode {
      float: right;
      margin-right: 10px;
      cursor: pointer;

      &.active .list {
        background-color: #ffba02;
      }
      .list {
        width: 21px;
        height: 21px;
        background: #d0d0d0;
        position: relative;
        li {
          position: absolute;

          background-color: #fff;
          &.vertical {
            top: 0;
            bottom: 0;
          }
          &.horizontal {
            left: 0;
            right: 0;
          }
        }
        &.full {}
        &.quad {
          li.vertical {
            width: 3px;
            right: 9px;
          }
          li.horizontal {
            height: 3px;
            top: 9px;
          }
        }
        &.hex {
          li.vertical {
            width: 1px;
            &:nth-child(1){
              right: 5px;
            }
            &:nth-child(2){
              right: 10px;
            }
            &:nth-child(3){
              right: 15px;
            }
          }
          li.horizontal {
            height: 1px;
            &:nth-child(4){
              top: 5px;
            }
            &:nth-child(5){
              top: 10px;
            }
            &:nth-child(6){
              top: 15px;
            }
          }
        }
      }
    }
  }
  .list-page-body {
    padding: 20px 0;
  }
}